body {
	background-image: url("../images/cool.png");
	background-size: 1920px 1920px;
	background-repeat: no-repeat;

}

.row {
    margin-right: 86px;
    margin-left: -15px;
}


#headerBlock {
	background-color: #c97126;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 35px;
	margin: 45px 80px 20px 0px;
	padding: 5px;
	border-radius: 15px 50px;
}


.instructionsBox {
	background-color: #dddddd;
	margin: 20px 85px 20px 0px;
	max-width: 960px;
	font-size: 18px;
	padding: 5px;
	border-radius: 50px 15px;
}


.randomNumber {
	background-color: #baaea0;
	margin: 20px 20px 20px 20px;
	max-width: 400px;
	height: 200px;
	font-size: 100px;
	padding: 10px 5px 5px 90px;
	border-radius: 15px 50px;
}



.winsLosses {
	background-color: #baaea0;
	margin: 20px;
	max-width: 250px;
	height: 200px;
	font-size: 18px;
	padding: 5px;
	border-radius: 50px 15px;
}


.thumbnail {
	margin: 10px;
	width: 200px;
	height: 200px;
}



#greengem {
	margin: 20px;
	width: 145px;
	height: 145px;
}



.redgem {
	margin-left: 35px;
}




.score {
	max-width: 600px;
	margin: 20px 20px 45px 20px;
	background-color: #c97126;
	height: 130px;
}



.panel-title {
	font-weight: bold;
}



#wins {
	margin-top: 20px;
	margin-bottom: 50px;
}



#gemTotal {
	font-color: #fff;
	font-size: 36px;
	margin-left: 255px;
}